.tarjeta {
  display: flex;
  border-radius: 81px 81px 81px 81px;
  -moz-border-radius: 81px 81px 81px 81px;
  -webkit-border-radius: 81px 81px 81px 81px;
  border: 4px solid #e6baba;
  padding: 1rem 3rem 1rem 3rem;
}

.tarjeta-foto {
  padding-right: 1rem;
}

.tarjeta-foto img {
  width: 100px;
  border-radius: 50%;
}
.tarjeta-info {
  text-align: left;
}

#tarjeta-nombre {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: large;
}

#tarjeta-rol {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: medium;
}

#tarjeta-twitter {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: small;
  color: rgb(9, 174, 216);
}
